{
    "slack": {
        "appid": "",
        "client_id": "",
        "client_secret": "",
        "verification_token": "",
        "signing_secret": "",
        "oauth_token": ""
    },
    "google": {
        "client_id": "",
        "client_secret": "",
        "sheet_id": ""
    }
}